<h1>currency displayer<h1>
   <form class="item" action="/" method="post">
      <label>From<label><input type="text" name="base" placeholder="New Item" autocomplete="off">
      <label>To<label><input type="text" name="to" placeholder="New Item" autocomplete="off">
      <label>amount<label><input type = "text" name = "amount">
      <button>send<button>
</form>